absl-py
altair  
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
astunparse
async-lru
attrs
babel
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
click
colorama
comm
debugp
decorator
defusedxml
exceptiongroup
executing
fastjsonschema
flatbuffers
gast
gitdb
GitPython
langchain
langchain_core
langchain_google_genai
streamlit
requests
google-api-python-client
google-api-core


